/* General */
$scale:8px;                   /* base scale for layout elements e.g. card, sidebar */
$borderRadius:12px;             /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */ 